fastapi==0.115.0
uvicorn==0.30.6
gunicorn==23.0.0
python-multipart==0.0.9
requests==2.32.3
email-validator==2.2.0
supabase==2.7.4
python-dotenv==1.0.1
pydantic==2.9.2

google-generativeai==0.8.3
pillow==10.4.0
PyPDF2==3.0.1
python-docx==1.1.2

numpy==1.26.4
scipy==1.11.4
scikit-learn==1.4.2
pandas==2.2.2
matplotlib==3.8.4
joblib==1.4.2
threadpoolctl==3.5.0

torch==2.3.1
tensorflow==2.16.1