fastapi
uvicorn
python-multipart

transformers
torch
sentencepiece
accelerate
wikipedia
sympy

opencv-python
pytesseract
Pillow

numpy
scikit-learn

python-dotenv

supabase
beautifulsoup4
requests
pydantic[email]
googletrans==4.0.0rc1
deep-translator
httpx[http2]
PyMuPDF