fastapi
uvicorn
python-multipart

transformers
torch
sentencepiece
accelerate
wikipedia
sympy

opencv-python
pytesseract
Pillow

numpy
scikit-learn

python-dotenv

supabase
beautifulsoup4
requests
pydantic[email]